{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Orion</title>
  <style>
    ::placeholder{
      color: rgba(255, 255, 255, 0.1);;
    }
  </style>
</head>

<body>

  <div id="wrapper" style="background-image: url('{% static "assets1/back.jpg"%}'); background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;   color: transparent;">
    <div class="container" style="background-color: transparent">
      <div class="form-data" style="color: #222831; font-family: Arial, Helvetica, sans-serif; background-color: transparent;">
        <form action="" method="POST" style="border-radius: 25px; background: rgba(255, 255, 255, 0.06); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(13.3px); -webkit-backdrop-filter: blur(13.3px);">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/logo.png' %}" alt="logo" style="background-color: transparent;">
            <canvas id="myCanvas" style="width: 150px; height: 75px; display: block; margin: 0 auto;">
              Sorry, your browser does not support canvas.
            </canvas>
          </div>
          <h5>Şifrenizde normal karakterlerin yanında en az 1 özel karakter ve numara olması zorunludur. Şifre bu koşulları sağlamadığı takdirde hesabınız açılmayacaktır.</h5><br>
          <!-- <input type="text" placeholder="Phone number, username, or email"> -->
          <!-- <input type="password" placeholder="Password"> -->
          {{form.username}}
          {{form.email}}
          {{form.password1}}
          {{form.password2}}
          <button class="form-btn" type="submit">Giriş yap</button>
          


          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
        </form>
        <div class="sign-up" style="color: #F5F5F5; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-radius: 25px; background: rgba(255, 255, 255, 0.06); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(13.3px); -webkit-backdrop-filter: blur(13.3px);"  >
          Hesabını Oluşturduysan <a href="{% url 'sign-in' %}">Giriş Yap</a>
        </div>
      </div>
    </div>


  </div>
  <script>
    const c = document.getElementById("myCanvas");
    const ctx = c.getContext("2d");
    
    // Create linear gradient
    const grad=ctx.createLinearGradient(0,0,300 ,0);
    grad.addColorStop(1, "rgb(0, 141, 218)");
    grad.addColorStop(0, "rgb(156, 222, 225)");
    
    // Fill text with gradient
    ctx.font = "100px Arial";
    ctx.textAlign = 'center';
    ctx.fillStyle = grad;
    ctx.fillText("Orion",c.width / 2, c.height/2);
  </script>

</body>

</html>